<%= responsive_custom_select_box %>
<h1>Responsive custom select box with custom scroll</h1>

<!--Style 1-->
<div class="chosen-wrapper" data-js="custom-scroll">
  <select class="chosen-select" data-placeholder="Lorem ipsum dolor sit amet">
    <option></option>
    <option>Consectetur adipiscing</option>
    <option>Sed do eiusmod tempor</option>
    <option>Incididunt ut labore</option>
    <option>Voluptatem accusantium</option>
    <option>Duis aute irure dolor </option>
    <option>Nemo enim</option>
    <option>Consectetur adipiscing</option>
    <option>Sed do eiusmod tempor</option>
    <option>Incididunt ut labore</option>
    <option>Voluptatem accusantium</option>
    <option>Duis aute irure dolor </option>
    <option>Nemo enim</option>
    <option>Consectetur adipiscing</option>
    <option>Sed do eiusmod tempor</option>
    <option>Incididunt ut labore</option>
    <option>Voluptatem accusantium</option>
    <option>Duis aute irure dolor </option>
    <option>Nemo enim</option>
  </select>
</div>

<!--Style 2-->
<div class="chosen-wrapper chosen-wrapper--style2" data-js="custom-scroll">
  <select class="chosen-select" data-placeholder="Lorem ipsum dolor sit amet">
    <option></option>
    <option>Consectetur adipiscing</option>
    <option>Sed do eiusmod tempor</option>
    <option>Incididunt ut labore</option>
    <option>Voluptatem accusantium</option>
    <option>Duis aute irure dolor </option>
    <option>Nemo enim</option>
    <option>Consectetur adipiscing</option>
    <option>Sed do eiusmod tempor</option>
    <option>Incididunt ut labore</option>
    <option>Voluptatem accusantium</option>
    <option>Duis aute irure dolor </option>
    <option>Nemo enim</option>
    <option>Consectetur adipiscing</option>
    <option>Sed do eiusmod tempor</option>
    <option>Incididunt ut labore</option>
    <option>Voluptatem accusantium</option>
    <option>Duis aute irure dolor </option>
    <option>Nemo enim</option>
  </select>
</div>
